#todo {
    padding: 30px 0;
  .todo {
    &--nav {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      width: 300px;
      height: 200px;
      border-radius: 10px;
      border: 2px solid darkmagenta;
      button {
        width: 100px;
        height: 40px;
        font-size: 20px;
        border-radius: 10px;
        background: black;
        color: white;
      }
    }
  }
}
